<div class="container">
<h3>Панель управления</h3>

<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-3">	
		<div class="btn-group-vertical" role="group">
				<%= link_to bosses_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Начальники
				<% end %>
			
				<%= link_to requistions_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Все заявки
				<% end %>

				<%= link_to arrivals_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Все посещения
				<% end %>			

				<%= link_to users_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Клиенты
				<% end %>
			
				<%= link_to workers_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Рабочие
				<% end %>
			
				<%= link_to contracts_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Контракты
				<% end %>
			
				<%= link_to buildings_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Все объекты
				<% end %>
			
				<%= link_to bosses_path, class:"btn" do %>
				<span class="glyphicon glyphicon-list"></span>&nbsp Все начальники
				<% end %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="btn-group-vertical" role="group">
			<%= link_to "Создать нового администратора", '/admin_new', class:"btn" %>
			<%= link_to "Создать нового рабочего(неактивно)", '/admin_new', class:"btn" %>
			<%= link_to "Создать нового клиента(неактивно)", '/admin_new', class:"btn" %>
			<%= link_to "Создать нового начальника", '/bosses/new', class:"btn" %>
			<%= link_to "Новый объект", {controller: "buildings", action: "new"}, class: "btn"%> 
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>