<% provide(:title, "Sign in") %>


<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<h1>Вход</h1>
		<%= form_for(:session, url: sessions_path, html: {:class => "form-vertical center"}) do |f| %>
		<div class="form-group">
			<label> email </label>
			<%= f.text_field :email, class: "form-control" %>
		</div>
		<div class="form-group">
		<label>password </label>
		<%= f.password_field :password, class: "form-control" %>
		</div>

		<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
	<% end %>

	<p><br>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
	<div class="col-md-4">
	</div>
</div>