<div class="container">
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<h1>Сброс пароля</h1>

		<%= form_for( @user, url: password_reset_path(params[:id]), html: {:class => "form-vertical center"}) do |f| %>
			<% if @user.errors.any? %>
				<div class="error_messages">
					<h2>Ошибка</h2>
					<ul>
						<% for message in @user.errors.full_messages %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<div class="form-group">
			<label> Новый пароль </label>
			<%= f.password_field :password, class: "form-control", required: "", minlength:"6" %>
			</div>
			<div class="form-group">
				<label> подтверждение пароля </label>
				<%= f.password_field :password_confirmation, class: "form-control", required: "", minlength:"6" %>
			</div>

			<%= f.submit "Обновить пароль", class: "btn btn-large btn-primary" %>
		<% end %>
		</div>
	<div class="col-md-4">
	</div>
</div>