<% provide(:title, 'Все контракты') %>
<h1>Все контракты</h1>

<div class="container">
<table id="contracts" class="table table-striped">
	<thead>
		<tr>
			<th>Номер</th>
			<th>Наименование объекта</th>
			<th>Здания</th>
			<th>Описание</th>
			<th>Комментарий</th>
			<th>Начало</th>
			<th>Конец</th>
			<th></th>			
		</tr>
	</thead>    
    <tbody>
		<% for contract in @contracts %>
		<tr>
			<td > <%= link_to contract.name_contract, {:controller => :contracts, :action => :show, :id => contract.id}, {:method => :get} %></td>
	    	<td id = "company"> <%= contract.company %></td>
	    	<td id = "building"> <% contract.buildings.each do |building| %> <li><%= link_to building.arrival_address, {:controller => :buildings, :action => :show, :id => building.id}, {:method => :get}%> </li><% end %> </td>
	    	<td id = "description"> <%= contract.description %></td>
	    	<td id = "comment"> <%= contract.comment %></td>
	    	<td id = "begin_time"> <%= contract.begin_time.strftime("%d.%m.%Y") %></td>
	    	<td id = "end_time"> <%= contract.end_time.strftime("%d.%m.%Y") %></td>
			<td><%= link_to edit_contract_path(contract) do%>
	    		<span class="glyphicon glyphicon-pencil " ></span>
	    		<% end %>
	    	</td>
		</tr>
		<% end %>
	</tbody>
</table>

</div>

<br>


<div class="container">
	<div class = "row">
		<h3 style="text-align:left;  margin-left:15px;">Добавить контракт</h3>
		<div class ="col-md-2">
			<%= link_to controller: "contracts", action: "new", class: "" do%> 
				<div class="btn btn-default">
 		 		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
 		 	</div>
			<%end%> 
		</div>

	</div>
</div>

<br>
<div class="container">
	<div class = "row">

		<h3 style="text-align:left;  margin-left:15px;">Импортировать контракты</h3>

		<%= form_tag import_contracts_path, multipart: true do %>
			<!-- <div class="btn-group"> -->
			<div class="col-md-2">
				<%= file_field_tag :file%>
			</div>
			<div class = "col-md-3">
				Выберите файл с контрактами. Номер контракта должен быть уникальным. Разные адреса внутри одного контракта должны быть разделены ";"
			</div>
		</div>
		<div class = "row">
			<div class="col-md-3">
			<%= submit_tag "Отправить" , class: "btn" %>
			</div>
			<!-- </div> -->
		<% end %>

<br>
<br>
		

