<table id="example" class="table">
	<thead>
		<tr>
			<th>Номер</th>
			<th>Компания</th>
			<th>Здания</th>
			<th>Описание</th>
			<th>Комментарий</th>
			<th>Начало</th>
			<th>Конец</th>			
		</tr>
	</thead>    
    <tbody>
		<% for contract in @contracts %>
		<tr>
			<td > <%= contract.name_contract %></td>
	    	<td id = "company"> <%= contract.company %></td>
	    	<td id = "building"> <% contract.buildings[0..-2].each do |building| %> <li><%=building.arrival_address%></li> <% end %> <li><%=contract.buildings[-1].arrival_address%></li> </td>
	    	<td id = "description"> <%= contract.description %></td>
	    	<td id = "comment"> <%= contract.comment %></td>
	    	<td id = "begin_time"> <%= contract.begin_time.strftime("%d.%m.%Y") %></td>
	    	<td id = "end_time"> <%= contract.end_time.strftime("%d.%m.%Y") %></td>
		</tr>
		<% end %>
	</tbody>	
	<tfoot>
		<tr>
			<th>Номер</th>
			<th>Компания</th>
			<th>Здания</th>
			<th>Описание</th>
			<th>Комментарий</th>
			<th>Начало</th>
			<th>Конец</th>			
		</tr>
	</tfoot>
</table>


<h2>Импорт контрактов</h2>

<%= form_tag import_contracts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Отправить" %>
<% end %>


