<% provide(:title, 'Все прибытия') %>
<div class="row">
	<div class="col-md-3">
	<%= form_tag('/arrivals', :method=>'get', class: 'center') do %>
		<input id="datetimepicker" type="text" name="date" val='2015-05-05'>
		<script type="text/javascript">
			jQuery('#datetimepicker').datetimepicker({
				inline:true,
				timepicker:false,
				format:'Y-m-d',
				value:'<%= @date_to %>',
				lang: 'ru'
			});
		</script>
		<br>
		<%= submit_tag "Показать", class: "btn btn-large btn-primary" %>
	<% end %>
	</div>
<div class="col-md-9">
	<h1>Все прибытия</h1>
	<div class="container">
		<table id="arrivals" class="table table-striped">
			<thead>
				<tr>
					<th>Иполнитель</th>
					<th>Объект</th>
					<th>Время</th>
					<th>Тип</th>
				</tr>
			</thead>
		    <tbody>
				<% @result.find_each do |f| %>
				<tr>
			    	<td> <%= f.user.name %> </td>
			    	<td> <%= f.building.arrival_address %> </td>
			    	<td> <%= f.date_safe %></td>
					<td> <%= f.check_type=='check_in' ? "Пришел" : "Ушел" %></td>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
</div>
</div>
</div>
<script type="text/javascript">
var show;
function hidetxt(type){
 param=document.getElementById(type);
 if(param.style.display == "none") {
 if(show) show.style.display = "none";
 param.style.display = "block";
 show = param;
 }else param.style.display = "none"
}
</script>

<br>
<h1>Не появлявшиеся за период <%='с '+@time_from if not @time_from.nil? %> <%='по '+@time_to if not @time_to.nil? %> </h3> </h1>
<h3><%='с '+@date_from if not @date_from.nil? %> <%='по '+@date_to if not @date_to.nil? %> </h3>
<% i = DateTime.parse(@date_from) %>
<table id="arrivals" class="table table-striped">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Сотрудники</th>
		</tr>
	</thead>
    <tbody>
    	<%if @date_from<=@date_to %>
			<% while i<=@date_to do %>
				<tr>
				<td><%= i.strftime("%d.%m.%Y")%></td>
				<% @Arrivals_at_day = @result.select(:user_id).distinct.where("to_char(date, 'YYYY-MM-DD') = ?", i.strftime("%Y-%m-%d")) %>
				<% @latecomers = User.where('status = 0 and id not in (?)	', @Arrivals_at_day) %>
				<td>
					<div>
					<a onclick="hidetxt('<%= i -%>'); return false;" href="#" rel="nofollow">Показать/Скрыть</a>
					<div style="display:none;" id="<%= i -%>" >
									<% @latecomers.each do |f|%>
										<li><%= f.name %></li>
									<% end %>
					</div>
					</div>
				</td>
				<% i = i.tomorrow %>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
