<% provide(:title, 'Редактирование заявки') %>
<div class="container">
		<h1>Редактирование заявки</h1>
		<%= form_for @requistion, :html => {:class => "form-vertical"} do |f| %>
			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Объект</label>
					<div class="col-md-5">
					<input class="form-control" type="text" placeholder="<%= @requistion.object %>" readonly></input>
					</div>
				</div>
			</div>


<!-- 			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Главный адрес</label>
					<div class="col-md-5">
					<input class="form-control" type="text" placeholder="<%#= @requistion.building.arrival_address %>" readonly></input>
					</div>
				</div>
			</div>
 -->
			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Адрес вызова</label>
					<div class="col-md-5">
						<input class="form-control" type="text" placeholder="<%= @requistion.building.arrival_address %>" readonly></input>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Контактное лицо</label>
					<div class="col-md-5">
					<input class="form-control" type="text" placeholder="<%= @requistion.contact_name %>" readonly></input>
				</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Тип заявки</label>
					<div class="col-md-5">
						<input class="form-control" type="text" placeholder="<%= transcript_of_the_messages(@requistion.type_requistion) %>" readonly></input>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Время заявки</label>
					<div class="col-md-5">
						<input class="form-control" type="text" placeholder="<%= Russian::strftime(@requistion.created_at, "%e %B %Y %H:%M") %>" readonly></input>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label class="col-md-3 control-label">Контактный телефон</label>
					<div class="col-md-5">
						<input class="form-control" type="text" placeholder="<%= @requistion.contact_phone %>" readonly></input>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<%= f.label :'Компания:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
						<%= select_tag :company, options_from_collection_for_select(@list_contract, 'company', 'company'), :prompt => "Выберите из списка", :class => "form-control", required: "" %>
					</div>
				</div>
			</div>	

			<div class="row" id="versionsDiv">
  				<%= render :partial => 'versions', :object => @list_contract %>
			</div>

			<div class="row">
				<div class="form-group">
					<%= f.label :'№ договора:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
						<%= text_field_tag :contract, nil, :placeholder => "Введите № договора", class: "form-control", required: "" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<%= f.label :'Период договора:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
						<%= text_field_tag :period_contract, nil, :placeholder => "Введите время окончания договора", class: "form-control", required: "" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<%= f.label :'Описание договора:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
						<%= text_field_tag :description, nil, :placeholder => "Введите время  договора", class: "form-control", required: "" %>
					</div>
 				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<%= f.label :'Категория заявки:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
						<%= f.select :category, [['Немедленно', 1], ['Очень срочно', 2], ['Срочно', 3]], {:prompt => "Выберите из списка"}, {:class =>  "form-control", required: ""} %>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<%= f.label :'Дата окончания заявки:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
  						<%= date_field_tag :deadline, nil, :min=> Time.zone.now.strftime("%Y-%m-%d"), :placeholder => "Введите время окончания заявки", class: "form-control", required: ""%>		
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<%= f.label :'Комментарий', class: "col-md-3 control-label" %>
					<div class="col-md-5">
  						<%= f.text_field :requistion_comment, :placeholder => "Введите время окончания заявки", class: "form-control"%>		
					</div>
				</div>
			</div>


			<div class="row">
				<div class="form-group" id="worker_row">
					<%= f.label :'Исполнитель:', class: "col-md-3 control-label" %>
					<div id="workerfield" class="col-md-5">
					  <%= select_tag :worker, options_from_collection_for_select(@list_worker, 'id', 'name'), :prompt => "Выберите из списка", :class => "form-control", required: "" %>
					</div>
				</div>
				
					<button id="addbtn" type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-plus"></span>
					</button>	
				
			</div>
			
<!-- 			<div class="row">
				<div class="form-group" id="worker_row">
					<%= f.label :'Статус:', class: "col-md-3 control-label" %>
					<div class="col-md-5">
						<%= f.select :status, [['Новая', 'fresh'], ['Назначена', 'assigned'], ['Принята в работу', 'adopted_in_work'], ['Выполняется', 'running'], ['Исполнено', 'done'], ['Завершено', 'comleted']], {:prompt => "Выберите из списка"}, {:class =>  "form-control", required: ""} %>
						</div>
				</div>
			</div>
 -->


	<%= f.submit "Принять", class: "btn btn-large btn-primary", id: "submut" %>	
	<%= link_to "Назад к заявкам", {controller: "requistions", action: "index"}, class: "btn"%>			

<% end %>
