<% provide(:title, 'Редактирование заявки') %>
<div class="container">
    <h1>Редактирование заявки</h1>
    <div class='col-xs-8'>
    <%= form_for @requistion, :html => {:class => "form-vertical"} do |f| %>
      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 control-label">Объект</label>
          <div class="col-xs-8">
          <input class="form-control" type="text" placeholder="<%= @requistion.building.name %>"></input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 control-label">Адрес вызова</label>
          <div class="col-xs-8">
            <input class="form-control" type="text" placeholder="<%= @requistion.building.arrival_address %>"></input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 control-label">Контактное лицо</label>
          <div class="col-xs-8">
            <%= f.text_field :contact_name, class: "form-control", required: "" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 control-label">Тип заявки</label>
          <div class="col-xs-8">
                  <%= f.select :type_requistion, [['Электроснабжение  ', 'Э'],
                      ['Слаботочка', 'C'],
                      ['Бассеины', 'Б'],
                      ['Вентиляция и воздушное отопление', 'О'],
                      ['Пожаротушение', 'П'],
                      ['Роснефть', 'Р'],
                      ['Водоснабжение, канализация и водяное отоплание', 'В'],], { :prompt => "Выберите из списка" }, { :class => "form-control"}  %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 control-label">Время заявки</label>
          <div class="col-xs-8">
            <input class="form-control" type="text" placeholder="<%= Russian::strftime(@requistion.created_at, "%e %B %Y %H:%M") %>"></input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 control-label">Контактный телефон</label>
          <div class="col-xs-8">
            <%= f.text_field :contact_phone, class: "form-control phonemask"%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-xs-3">Дата окончания заявки</label>
          <div class="col-xs-8">
          <%= f.date_field :time_deadline, class: 'form-control'%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class=" col-xs-3">Комментарий</label>
          <div class="col-xs-8">
              <%= f.text_field :requistion_comment, :placeholder => "Введите комментарий", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group" id="worker_row">
          <%= f.label :'Исполнители:', class: "col-xs-3 control-label" %>
          <div id="workerfield" class="col-xs-8">
          <select id="workers-select" name="workers[]" multiple  placeholder="Выберите исполнителей">
            <%= options_for_select(User.worker.collect {|p| [ p.name, p.id ] },
            @requistion.users.worker.collect {|p|  p.id } ) %>

          </select>
          <script>
            $('#workers-select').selectize({
              maxItems: 100,
              plugins: ['remove_button']
            });
          </script>
          </div>
        </div>

      </div>

    <div class="row">
      <div class=" col-xs-3"></div>
      <div class="col-xs-8">
        <%= f.submit "Принять", class: "btn", id: "submut" %>
        <%= link_to "Назад к заявкам", requistions_path, class: "btn"%>
      </div>
    </div>

  <% end %>
  </div>
  <div class="col-xs-4" id="table_contracts_in_new">
      <%= render :partial => 'table_contract', :object => @list_contract %>
  </div>
</div>

