<% provide(:title, 'Редактирование заявки') %>
<div class="container">
    <h1>Редактирование заявки</h1>
    <%= form_for @requistion, :html => {:class => "form-vertical"} do |f| %>
      <div class="row">
        <div class="form-group">
          <label class="col-md-3 control-label">Объект</label>
          <div class="col-md-5">
          <input class="form-control" type="text" placeholder="<%= @requistion.building.name %>" readonly></input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-md-3 control-label">Адрес вызова</label>
          <div class="col-md-5">
            <input class="form-control" type="text" placeholder="<%= @requistion.building.arrival_address %>" readonly></input>
          </div>
        </div>
      </div>

      <div class="row" id="table_contracts_in_new">
        <%= render :partial => 'table_contract', :object => @list_contract %>
      </div>

      <div class="row">
        <div class ="form-group">
          <label class=" col-md-3">Номер контракта</label>
          <div class="col-md-5">
          <%= f.select :contract_id, @list_contract.collect { |p| [ p.name_contract, p.id ] },{},
            placeholder: "Выберите из списка", class: "form-control", required: "" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-md-3 control-label">Контактное лицо</label>
          <div class="col-md-5">
          <input class="form-control" type="text" placeholder="<%= @requistion.contact_name %>" readonly></input>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-md-3 control-label">Тип заявки</label>
          <div class="col-md-5">
            <input class="form-control" type="text" placeholder="<%= transcript_of_the_messages(@requistion.type_requistion) %>" readonly></input>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group">
          <label class="col-md-3 control-label">Время заявки</label>
          <div class="col-md-5">
            <input class="form-control" type="text" placeholder="<%= Russian::strftime(@requistion.created_at, "%e %B %Y %H:%M") %>" readonly></input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-md-3 control-label">Контактный телефон</label>
          <div class="col-md-5">
            <input class="form-control" type="text" placeholder="<%= @requistion.contact_phone %>" readonly></input>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :'Дата окончания заявки:', class: "col-md-3 control-label" %>
          <div class="col-md-5">
          <%= f.date_field :time_deadline, class: 'form-control'%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <%= f.label :'Комментарий', class: "col-md-3 control-label" %>
          <div class="col-md-5">
              <%= f.text_field :requistion_comment, :placeholder => "Введите комментарий", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group" id="worker_row">
          <%= f.label :'Исполнители:', class: "col-md-3 control-label" %>
          <div id="workerfield" class="col-md-5">
          <select id="workers-select" name="workers[]" multiple  placeholder="Выберите исполнителей">
            <%= options_for_select(User.worker.collect {|p| [ p.name, p.id ] },
            @requistion.users.worker.collect {|p|  p.id } ) %>

          </select>
          <script>
            $('#workers-select').selectize({
              maxItems: 100,
              plugins: ['remove_button']
            });
          </script>
          </div>
        </div>

      </div>

<div class="row">
  <div class=" col-xs-3"></div>
  <div class="col-xs-5">
    <%= f.submit "Принять", class: "btn", id: "submut" %>
    <%= link_to "Назад к заявкам", requistions_path, class: "btn"%>
  </div>
</div>

<% end %>
