<% provide(:title, 'All users') %>

<h1>All users</h1>
<table class="pretty">
	<tr>
		<th><%= sortable 'object', "Объект" %></th>
		<th><%= sortable 'main_address', "Главный адрес" %></th>
		<th><%= sortable 'created_at', "Время заявки"  %></th>
	    <th><%= sortable 'status', "Статус"  %></th>>
        <th><%="Ссылка"%></th>>
    </tr>
	<% for requistion in @requistions %>
	<tr>
		<td><%= requistion.object %></td>
		<td><%= requistion.main_address %></td>
		<td><%= requistion.created_at.strftime("%e %B %Y %H:%M") %></td>
		<td><%= if requistion.status.blank? then 'Данных нет' else requistion.status end%></td>
	    <th><%= link_to "Подробнее", requistion, action: :edit, method: :get %></th>
    </tr>
	<% end %>
</table>
