<%= javascript_include_tag '//cdn.datatables.net/plug-ins/3cfcc339e89/sorting/datetime-moment.js' %>
<% provide(:title, @name) %>
<div class="container">
<h1><%= @name %></h1>

<div id = "archive">
<%= link_to controller: "requistions", action: "index", position: '11', value: 'Завершено' do %>
				<div class="btn btn-default btnarchive">
					<span class="glyphicon glyphicon-briefcase"></span>&nbspАрхив
				</div>
			<% end %>
</div>
<script type="text/javascript">
	old_count = <%= @requistions.fresh.count %>;
	set = false;
	$(document).ready(function(){
	setInterval(function(){
    	$.ajax({url: "/count_all",
				type: 'GET',
				dataType: 'json',
				success: function (data, status) {
					if (data.count > old_count && !set){
						set = true
						$('h1').before('<div class="alert alert-info" role="alert"> Появились новые заявки</div>');
					}
				}
			});
    	}, 5000);
});
</script>
<table id="requistions" class="table">
	<thead>
		<tr>
			<th>Номер</th>
			<th>Объект</th>
			<th>Адрес прибытия</th>
			<th>Время подачи</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Тип</th>
			<th>Поддтип</th>
			<th>Комментарий</th>
			<th>Категория</th>
			<th>Время последнего изменения</th>
			<th>Статус</th>
			<th>
			<th>Исполнители</th>
			<th>Дата окончания</th>
			<th>Рейтинг</th>
			<th></th>
			<th></th>

		</tr>
	</thead>    
    <tbody>
		<% for requistion in @requistions %>
		<tr>
	    	<td><%= link_to requistion.id,  {:action => :show, :id => requistion.id}, {:method => :get} %></td>
	    	<td><%= link_to requistion.object, {:controller => :buildings, :action => :show, :id => requistion.building_id}, {:method => :get}%></td>
			<td><%= link_to requistion.building.arrival_address, {:controller => :buildings, :action => :show, :id => requistion.building_id}, {:method => :get} %></td>
			<td><%= requistion.created_at.strftime("%d.%m.%Y %H:%M") %></td>
			<td><%= requistion.contact_name %></td>			
			<td><%= requistion.contact_phone %></td>	
			<td><%= transcript_of_the_messages(requistion.type_requistion) %></td>			
			<td><%= transcript_of_the_messages(requistion.subtype_requistions)  %></td>			
			<td><%= requistion.requistion_comment %></td>			
			<td><%= transcript_of_the_messages_category(requistion.category) %></td>	
			<td> <button id = <%= requistion.id %> class="btn btn-danger change-time" data-toggle="modal" data-target="#status" onClick="reply_click(this.id)" > <%= requistion.updated_at.strftime("%d.%m.%Y %H:%M")%> </button>
</td>
 			<td><%= status_names[requistion.status.to_sym] %></td>
 			<td><%= link_to 'Принять', {controller: :requistions, action: :close, id: requistion.id }, class: "btn btn-inverse" if requistion.status=='done' %> </td>
 			<td><% requistion.users.where('status = 0').each do |user|%> <li><%= user.name%></li> <% end %></td>
			<td><%= requistion.time_deadline.strftime("%d.%m.%Y %H:%M") if not requistion.time_deadline.nil? %></td>
			<td><%= requistion.raiting %></td>	
	    	<td>  
			</td>
 	    	<td><%= link_to edit_requistion_path(requistion) do%>
	    		<span class="glyphicon glyphicon-pencil " ></span>
	    		<% end %>
	    	</td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th>Номер</th>
			<th>Объект</th>
			<th>Адрес прибытия</th>
			<th>Время</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Тип</th>
			<th>Поддтип</th>
			<th>Комментарий</th>
			<th>Категория</th>
			<th>Время</th>
			<th>Статус</th>
			<th></th>
			<th>Исполнители</th>
			<th>Дата окончания</th>
			<th>Рейтинг</th>
			<th></th>
			<th></th>

		</tr>
	</tfoot>
</table>
</div>

  <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Изменения</h4>
        </div>
        <div class="modal-body">
            <%#= text_tag(show_changes_requistion_path(@requistion), :html => {:class => "form-vertical"}) do |f| %>
              <div class="form-group">
			<div class="row">
				<div class="form-group">
				<label class=" col-sm-4">Новая</label>
					<div class="col-sm-4">
						<input id='show_time_change_created' class="form-control" type="text" readonly></input>
					</div>
					<div class="col-sm-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

				<div class="form-group">
				<label class=" col-sm-4">Назначена</label>
					<div class="col-sm-4">
						<input id='show_time_change_assigned' class="form-control" type="text" readonly></input>
					</div>
					<div class="col-sm-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

				<div class="form-group">
				<label class=" col-xs-3">Принята</label>
					<div class="col-xs-5">
						<input id='show_time_change_adopted' class="form-control" type="text" readonly></input>
					</div>
					<div class="col-xs-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

				<div class="form-group">
				<label class=" col-xs-3">Выполняется</label>
					<div class="col-xs-5">
						<input id='show_time_change_running' class="form-control" type="text" readonly></input>
					</div>
					<div class="col-xs-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

				<div class="form-group">
				<label class=" col-xs-3">Исполнено</label>
					<div class="col-xs-5">
						<input id='show_time_change_done' class="form-control" type="text" readonly></input>
					</div>
					<div class="col-xs-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

				<div class="form-group">
				<label class=" col-xs-3">Выполнено</label>
					<div class="col-xs-5">
						<input id='show_time_change_completed' class="form-control" type="text" readonly></input>
					</div>
					<div class="col-xs-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

				<div class="form-group">
				<label class=" col-xs-3">Дедлайн</label>
					<div class="col-xs-5">
						<input id='show_time_change_deadline' class="form-control" type="text" readonly></input>
					</div>
				<div class="col-xs-4">
						<input id='show_time_change_who_created' class="form-control" placeholder = 'admin' type="text" readonly></input>
					</div>
				</div>

			</div>

        <%# end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<%= hidden_field_tag 'for_filter', @object %>