<% provide(:title, 'All users') %>
<h1>Все заявки</h1>
<table id="example" class="table" cellspacing="0" width="100%">
        <thead>
            <tr>
				<th>Объект</th>
				<th>Адрес прибытия</th>
				<th>Время</th>
				<th>Число</th>
				<th>Месяц</th>
				<th>Год</th>
			    <th>Статус</th>
		        <th></th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
				<th>Объект</th>
				<th>Адрес прибытия</th>
				<th>Время</th>
				<th>Число</th>
				<th>Месяц</th>
				<th>Год</th>
			    <th>Статус</th>
		        <th></th>
            </tr>
        </tfoot>
    <tbody>
		<% for requistion in @requistions %>
		<tr>
	    	<td><%= link_to requistion.object,  {:action => :show, :id => requistion.id}, {:method => :get} %></td>
			<td><%= requistion.building.arrival_address %></td>
			<td><%= Russian::strftime(requistion.created_at, "%H:%M") %></td>
			<td><%= Russian::strftime(requistion.created_at, "%e") %></td>
			<td><%= Russian::strftime(requistion.created_at, "%B") %></td>
			<td><%= Russian::strftime(requistion.created_at, "%Y") %></td>
			<td><%= status_names[requistion.status.to_sym] %></td>
 	    	<td><%= link_to edit_requistion_path(requistion) do%>
	    		<span class="glyphicon glyphicon-pencil"></span>
	    		<% end %>
	    	</td>
		</tr>
		<% end %>
	</tbody>
</table>