<% provide(:title, 'Все заявки') %>
<h1>Все заявки</h1>
<script type="text/javascript">
	old_count = <%= @requistions.count %>;
	set = false;
	$(document).ready(function(){
	setInterval(function(){
    	$.ajax({url: "/count_all",
				type: 'GET',
				dataType: 'json',
				success: function (data, status) {
					if (data.count > old_count && !set){
						set = true
						$('h1').before('<div class="alert alert-info" role="alert"> Появились новые заявки</div>');
					}
				}
			});
    	}, 5000);
});
</script>
<table id="requistions" class="table">
	<thead>
		<tr>
			<th>Объект</th>
			<th>Адрес прибытия</th>
			<th>Время</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Тип</th>
			<th>Поддтип</th>
			<th>Комментарий</th>
			<th>Катеория</th>
			<th>Время</th>
			<th>Статус</th>
			<th>Рейтинг</th>
			<th></th>
		</tr>
	</thead>    
    <tbody>
		<% for requistion in @requistions %>
		<tr>
	    	<td><%= link_to requistion.object,  {:action => :show, :id => requistion.id}, {:method => :get} %></td>
			<td><%= requistion.building.arrival_address %></td>
			<td><%= requistion.created_at.strftime("%e.%m.%Y %H:%M") %></td>
			<td><%= requistion.contact_name %></td>			
			<td><%= requistion.contact_phone %></td>	
			<td><%= transcript_of_the_messages(requistion.type_requistion) %></td>			
			<td><%= transcript_of_the_messages(requistion.subtype_requistions)  %></td>			
			<td><%= requistion.requistion_comment %></td>			
			<td><%= transcript_of_the_messages_category(requistion.category) %></td>	
			<td><%= requistion.updated_at.strftime("%e.%m.%Y %H:%M") %></td>
 			<td><%= status_names[requistion.status.to_sym] %></td>
			<td><%= requistion.raiting %></td>	
 	    	<td><%= link_to edit_requistion_path(requistion) do%>
	    		<span class="glyphicon glyphicon-pencil " ></span>
	    		<% end %>
	    	</td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th>Объект</th>
			<th>Адрес прибытия</th>
			<th>Время</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Тип</th>
			<th>Поддтип</th>
			<th>Комментарий</th>
			<th>Катеория</th>
			<th>Время</th>
			<th>Статус</th>
			<th>Рейтинг</th>
			<th></th>
		</tr>
	</tfoot>
</table>