<% provide(:title, 'All users') %>
<h1>Все заявки</h1>
<table id = "all_requistion" class="table">
	<thead>
	<tr>
		<th>Объект</th>
		<th>Главный адрес</th>
		<th>Время заявки</th>
	    <th>Статус</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
	<% for requistion in @requistions %>
	<tr>
	    <th><%= link_to requistion.object,  {:action => :show, :id => requistion.id}, {:method => :get} %></th>
		<td><%= requistion.main_address %></td>
		<td><%= Russian::strftime(requistion.created_at, "%e %B %Y %H:%M") %></td>
		<td><%= status_names[requistion.status.to_sym] %></td>
	    <th><%= link_to edit_requistion_path(requistion) do%>
	    	<span class="glyphicon glyphicon-pencil"></span>&nbsp
	    	<% end %>
	    </th>
    </tr>
	<% end %>
	</tbody>
</table>

		