<% provide(:title, 'Подача заявки') %>
<div class="container">
<h1>Электронная заявка</h1>

	<%= form_for @requistion, :html => {:class => "form-vertical"} do |f| %>
		<div class="row">
			<div class="form-group">
					<label class=" col-xs-3">Объект</label>

					<div  class="col-xs-5">
					<select required id="building_name" name="name" style="width: 100%">
						<%=	options_for_select(@list.collect {|p| [ p.name ] }.uniq ) %>
					</select>

				</div>
				<div class = "col-xs-1">
					<button type="button" class="btn btn-default btn-xs clearbutton1">
					  	<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class=" col-xs-3">Адрес</label>
				<div class="col-xs-5">
					<select required id="building_id" name="requistion[building_id]" style="width: 100%">
					</select>

				</div>

				<div class = "col-xs-1">
					<button type="button" class="btn btn-default btn-xs clearbutton2">
					  	<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>

			</div>
		</div>

	 	<div class="row" id="table_contracts_in_new">
  				<%= render :partial => 'table_contract', :object => @list_contract %>
		</div>


	 	<div class="row">
			<div class="form-group">
				<label class=" col-xs-3">ФИО контактного лица заказчика</label>
				<div class="col-xs-5">
				<%= f.text_field :contact_name, :placeholder =>"Введите контактное лицо", class: "form-control", required: "" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class=" col-xs-3">Должность контактного лица</label>
				<div class="col-xs-5">
				<%= f.text_field :deputy, :placeholder =>"Введите должность", class: "form-control" %>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class=" col-xs-3">Телефон контактного лица заказчика</label>
				<div class="col-xs-5">
				<%= f.text_field :contact_phone, :placeholder =>"Ввведите контактный телефон", class: "form-control phonemask", required: "" %>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="form-group">
			<label class=" col-xs-3">Тип работ</label>
			<div class="col-xs-5">
				<%= f.select :type_requistion, [['Электроснабжение	', 'Э'],
											['Слаботочка', 'C'],
											['Бассеины', 'Б'],
											['Вентиляция и воздушное отопление', 'О'],
											['Пожаротушение', 'П'],
											['Роснефть', 'Р'],
											['Водоснабжение, канализация и водяное отоплание', 'В'],], { :prompt => "Выберите из списка" }, { :class => "form-control", required: ""  }  %>
			</div>
			</div>
		</div>
    <div class="row">
        <div class="form-group">
          <%= f.label :'Категория заявки:', class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <%= f.select :category, [['Немедленно', 1], ['Очень срочно', 2], ['Срочно', 3]], {:prompt => "Выберите из списка"}, {:class =>  "form-control", required: ""} %>
          </div>
        </div>
    </div>

		<div class="row" id="info" style="display:none">
			<div class="form-group" >
			  <label class=" col-xs-3">Дополнительная информация</label>
			  <div class="col-xs-5">
			  <%= f.text_field :info, :placeholder =>"Опишите проблему", class: "form-control"%>
			</div>

			</div>
		</div>

		<div class="row">
			<div class="form-group">
			  <label class=" col-xs-3">Комментарий</label>
			  <div class="col-xs-5">
				<%= f.text_field :requistion_comment, :placeholder =>"Введите описание", class: "form-control"%>
			</div>
			</div>
		</div>

		<% if current_user.admin? %>

		<div class="row">
			<div class="form-group">
			<label class=" col-xs-3">Исполнители</label>
				<div  class="col-xs-5">
				<select id="workers-select" name="workers[]" multiple  placeholder="Выберите исполнителей">
				<%= options_for_select(User.worker.collect {|p| [ p.name, p.id ] })	%>

				</select>

				</div>
			</div>
			<script>
				$('#workers-select').selectize({
					maxItems: 100,
					plugins: ['remove_button']
				});
			</script>
		</div>
		<% end %>

		<div class="row">
			<div class=" col-xs-3"></div>
			<div class="col-xs-5">
				<%= f.submit "Подать заявку", class: "btn" %>
			</div>
		</div>
	<% end %>
  </div>
<script>
  $('button.clearbutton1').click (function() {
    $('#building_name').select2('val', null);
  });

  $('button.clearbutton2').click (function() {
    $('#building_id').select2('val', null);
  });

  $('#building_name').select2({
    placeholder: "название",
  });

  function formatRepo (building) {
    return building.arrival_address;
  };

  $('#building_name').select2('val', null);

  function formatRepoSelection (repo) {
  return repo.arrival_address;
  };

  $("#building_id").change(function () {
    $.ajax({url: "/get_contracts_by_address",
      type: 'GET',
      dataType: 'html',
      data: "address=" + $('#building_id').val(),
      success: function (data, status) {
          $("#table_contracts_in_new").html(data);
      }
    });
  });

  $('#building_id').select2({

  ajax: {
    url: "/search",
    dataType: 'json',
    delay: 1000,
    data: function (params) {
      name_in = $('#building_name').val();
      return {
        name: name_in,
        q: params.term, // search term
        page: params.page
      };
    },
    processResults: function (data, page) {
      // parse the results into the format expected by Select2.
      // since we are using custom formatting functions we do not need to
      // alter the remote JSON data
      console.log(data);
      return {
        results: data
      };
    },
    cache: true
  },


  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
  templateResult: formatRepo,
  templateSelection: formatRepoSelection,
  placeholder: "название"
  }).change(function(){
      $.ajax({url: "/building_name/"+ $('#building_id').val(), success: function(result){
        $('#building_name').select2('val', result);
      }})
  });
</script>
