<% provide(:title, 'Подача заявки') %>
<h1>Электронная заявка</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @requistion, :html => {:class => "form-vertical center"} do |f| %>
        <div class="form-group">
          <%= f.label :'Обект:', class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :object, :placeholder => "Введите № объекта", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :'Главный адрес объекта:', class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :main_address, :placeholder => "Введите главный адрес оъекта", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :'Адресс прибытия специалистов:', class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :arrival_address, :placeholder => "Введите адрес прибытия специалистов", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :'Контактное лицо', class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :contact_name, :placeholder =>"Введите контактное лицо", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :"Телефон контактного лица", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :contact_phone, :placeholder =>"Ввведите контактный телефон", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :'Тип работ', class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.select :type_requistion, [['Электрика', 'Э'], ['Сантехника ГВС', 'Г'], ['Сантехника ХВС', 'X'], ['Канализация', 'К'], ['Отопление', 'О'], ['Другое', 'Д']],  class: "form-control" %>
          </div>
        </div>

        <div class="form-group" id="test" style="display:none">
          <%= f.label :"Дополнительная информация",  class: "col-md-4 control-label"%>
          <div class="col-md-8">
          <%= f.text_field :info, :placeholder =>"Опишите проблему", class: "form-control"%>
        </div>
        </div>

      <%= f.submit "Подать заявку", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

