<% provide(:title, 'Подача заявки') %>
<div class="container">
<h1>Электронная заявка</h1>

	<%= form_for @requistion, :html => {:class => "form-vertical"} do |f| %>
		<div class="row">
	 		<div class="form-group">
				<label class=" col-xs-3">Объект - Адрес</label>
				<div class="col-xs-5">
				<%= f.select :building_id, 
				options_for_select(@list.collect {|p| [ (p.name.to_s + " - " + p.arrival_address.to_s), p.id ] }), 
				{:prompt => "Выберите из списка адрес прибытия специалистов"}, {:class => "selectize", required: ""  }%>

				</div>
				<script>
				$('#requistion_building_id').selectize({
					
				});
				</script>

			</div>
		</div>

	 	<div class="row">
			<div class="form-group">
				<label class=" col-xs-3">ФИО контактного лица заказчика</label>
				<div class="col-xs-5">
				<%= f.text_field :contact_name, :placeholder =>"Введите контактное лицо", class: "form-control", required: "" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class=" col-xs-3">Телефон контактного лица заказчика</label>
				<div class="col-xs-5">
				<%= f.text_field :contact_phone, :placeholder =>"Ввведите контактный телефон", class: "form-control phonemask", required: "" %>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="form-group">
			<label class=" col-xs-3">Тип работ</label>
			<div class="col-xs-5">
				<%= f.select :type_requistion, [['АВАРИЯ (ЦО/ГВС/ХВС/Канализация)', 'Э'], 
											['РЕМОНТ (ЦО/ГВС/ХВС/Канализация)', 'Г'], 
											['АВАРИЯ (ЭЛЕКТРОСЕТИ)', 'X'], 
											['РЕМОНТ (ЭЛЕКТРОСЕТИ)', 'К'], 
											['АВАРИЯ (ВЕНТИЛЯЦИЯ/ДЫМОУДАЛЕНИЕ/ТС)', 'О'], 
											['РЕМОНТ (ВЕНТИЛЯЦИЯ/ДЫМОУДАЛЕНИЕ/ТС)', 'П'], 
											['АВАРИЯ СЛАБОТОЧНЫХ СИСТЕМ (АПС, СТРЕЛЕЦ, КТС, ДОМОФОН, ВИДЕО)', 'У'], 
											['ТО СЛАБОТОЧНЫХ СИСТЕМ (АПС, СТРЕЛЕЦ, КТС, ДОМОФОН, ВИДЕО)', 'В'], 
											['ТО ВЕНТИЛЯЦИИ/ВОЗД.ОТОПЛЕНИЯ', 'C'], 
											['ТО АУУ (ОТОПЛЕНИЕ)', 'Д'], 
											['ТО СИСТЕМ КОНДИЦИОНИРОВАНИЯ', 'А'], 
											['ТО ВОДОПОДГОТОВКИ БАССЕЙНОВ', 'Д'],
											['ОПРЕССОВКА ТРУБОПРОВОДОВ', 'А'], 
											['ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ', 'Д']], { :prompt => "Выберите из списка" }, { :class => "form-control", required: ""  }  %>
			</div>
			</div>
		</div>


		<div class="row" id="info" style="display:none">
			<div class="form-group" >
			  <label class=" col-xs-3">Дополнительная информация</label>
			  <div class="col-xs-5">
			  <%= f.text_field :info, :placeholder =>"Опишите проблему", class: "form-control"%>
			</div>
			
			</div>
		</div>

		<div class="row">
			<div class="form-group">
			  <label class=" col-xs-3">Комментарий</label>
			  <div class="col-xs-5">
				<%= f.text_field :requistion_comment, :placeholder =>"Введите описание", class: "form-control"%>
			</div>
			</div>
		</div>

		<% if current_user.admin? %>

		<div class="row">
			<div class="form-group">
  				<label class=" col-xs-3">Исполнители</label>
				<div  class="col-xs-5">
				<select id="workers-select" name="workers[]" multiple  placeholder="Выберите исполнителей">
				<%= options_for_select(User.worker.collect {|p| [ p.name, p.id ] })	%>
				
				</select>
				
				</div>
			</div>
			<script>
				$('#workers-select').selectize({
					maxItems: 100,
					plugins: ['remove_button']
				});
			</script>
		</div>
		<% end %>

		<div class="row">
			<div class=" col-xs-3"></div>
			<div class="col-xs-5">
				<%= f.submit "Подать заявку", class: "btn btn-large btn-primary" %>
			</div>
		</div>
	<% end %>
  </div>

