<div class="col-md-7 showtable">
  <table class="table table-bordered table-striped">
  <tr>
    <th>Объект</th>
    <td><%= @requistion.object %></td>
  </tr>
  <tr>
    <th>Главный адрес</th>
    <td><%= @requistion.main_address %></td>
  </tr>
  <tr>
    <th>Адрес вызова</th>
    <td><%= @requistion.arrival_address %></td>
  </tr>
  <tr>
    <th>Контактное лицо</th>
    <td><%= @requistion.contact_name %></td>
  </tr>
  <tr>
    <th>Контактный телефон</th>
    <td><%= @requistion.contact_phone %></td>
  </tr>
  <tr>
    <th>Тип заявки</th>
    <td><%= (transcript_of_the_messages(@requistion.type_requistion)) +' '+String(@requistion.info) %></td>
  </tr>
  <tr>
    <th>Время поступления заявки</th>
    <td><%= Russian::strftime(@requistion.created_at, "%e %B %Y %H:%M") %></td>
  </tr>
  <tr>
    <th>Договор</th>
    <td><%= replacement_empty(@requistion.contract) %></td>
  </tr>
  <tr>
    <th>Категория</th>
    <td><%= replacement_empty(@requistion.category) %></td>
  </tr>
</table>

<br>
<%= button_to "Обработать заявку", edit_requistion_path, method: :get, class: "btn btn-large btn-primary" %>

</div>


