<% provide(:title, 'Заявка') %>
<div class="container">
<div class="col-md-7 showtable">
  <table class="table table-bordered table-striped">
  <tr>
    <th>Объект</th>
    <td><%= @requistion.object %></td>
  </tr>
  <tr>
    <th>Адрес вызова</th>
    <td><%= @requistion.building.arrival_address %></td>
  </tr>
  <tr>
    <th>Контактное лицо</th>
    <td><%= @requistion.contact_name %></td>
  </tr>
  <tr>
    <th>Контактный телефон</th>
    <td><%= @requistion.contact_phone %></td>
  </tr>
  <tr>
    <th>Тип заявки</th>
    <td><%= transcript_of_the_messages(@requistion.type_requistion)+' '+@requistion.info.to_s %></td>
  </tr>
  <% if @requistion.type_requistion == 'А' %>
  <tr>
    <th>Тип аварийного обслуживания</th>
    <td><%= transcript_of_the_messages(@requistion.subtype_requistions) %></td>
  </tr>
  <% end %>
  <tr>
    <th>Комментарий</th>
    <td><%= @requistion.requistion_comment %></td>
  </tr>
  <tr>
    <th>Договор</th>
    <%if @requistion.contract.nil? %>
      <td><%= replacement_empty('') %></td>
    <% else %>
      <td><%= replacement_empty(@requistion.contract.company+@requistion.contract.description) %></td>
    <% end %>    
  </tr>
  <tr>
    <th>Время поступления заявки</th>
    <td><%= Russian::strftime(@requistion.created_at, "%e %B %Y %H:%M") %></td>
  </tr>
  <tr>
    <th>Статус</th>
    <td><%= status_names[@requistion.status.to_sym] %></td>
  </tr>
  <tr>
    <th>Оценка</th>
    <td><%= @requistion.raiting %></td>
  </tr>
</table>

<br>

<% if current_user.status == "admin" %>
  <%# if @requistion.status != "comleted" %>
    <%= button_to "Обработать заявку", edit_requistion_path, method: :get, class: "btn btn-large btn-primary" %>
  <%# else %>
    <%#= button_to "Обработать заявку", edit_requistion_path, method: :get, class: "disabled"%>
  <%# end %>
<% end %>

<br>
<button class="btn btn-danger mark" data-toggle="modal" data-target="#myModal" >Оценить</button>
<%= link_to "Вернуться к объектам", {controller: "users", action: "req", id: current_user}, class: "btn"%>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ваша Оценка</h4>
      </div>
      <div class="modal-body">
          <%= form_tag(mark_path(@requistion), :html => {:class => "form-vertical"}) do |f| %>
            <div class="form-group">
          <label   >Пожалуйста оцените по десятибальной шкале.</label>
          <input id="input-21e" value="0" type="number" class="rating" name="mark" min=0 max=10 step=1 data-size="xs" >
        </div>
        <button type="submit" class="btn btn-success">Оценить</button>
      <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
