<% provide(:title, 'Заявка') %>
<div class="container">
  <div class="row">
<div class="col-xs-6 showtable">
  <table class="table table-bordered table-striped">
  <tr>
    <th>Объект</th>
    <td><%= @requistion.object %></td>
  </tr>
  <tr>
    <th>Адрес вызова</th>
    <td><%= @requistion.building.arrival_address %></td>
  </tr>
  <tr>
    <th>Контактное лицо</th>
    <td><%= @requistion.contact_name %></td>
  </tr>
  <tr>
    <th>Контактный телефон</th>
    <td><%= @requistion.contact_phone %></td>
  </tr>
  <tr>
    <th>Тип заявки</th>
    <td><%= transcript_of_the_messages(@requistion.type_requistion)+' '+@requistion.info.to_s %></td>
  </tr>
  <% if @requistion.type_requistion == 'А' %>
  <tr>
    <th>Тип аварийного обслуживания</th>
    <td><%= transcript_of_the_messages(@requistion.subtype_requistions) %></td>
  </tr>
  <% end %>
  <tr>
    <th>Комментарий</th>
    <td><%= @requistion.requistion_comment %></td>
  </tr>
  <tr>
    <th>Договор</th>
    <%if @requistion.contract.nil? %>
      <td><%= replacement_empty('') %></td>
    <% else %>
      <td><%= replacement_empty(@requistion.contract.company+': '+@requistion.contract.description) %></td>
    <% end %>    
  </tr>
  <tr>
    <th>Время поступления заявки</th>
    <td><%= Russian::strftime(@requistion.created_at, "%e %B %Y %H:%M") %></td>
  </tr>
  <tr>
    <th>Статус</th>
    <td><%= status_names[@requistion.status.to_sym] %></td>
  </tr>
  <% if @requistion.status == 'comleted' %>
  <tr>
    <th>Оценка</th>
    <td><%= @requistion.raiting %></td>
  </tr>
  <% end %>
</table>
</div>
</div>


<% if current_user.admin? %>
  <%# if @requistion.status != "comleted" %>
  <div class="row">

</div>
  <div class = "col-xs-1">
    <button class="btn btn-danger mark" data-toggle="modal" data-target="#status" >Изменить статус</button>
  </div>
    <div class = "col-xs-1">
    <%= button_to "Редактировать заявку", edit_requistion_path, method: :get, class: "btn btn-large btn-primary" %>
  </div>
  <br><br>
  <div class = "col-md-1">
    <%= link_to "Назад к заявкам", {controller: "requistions", action: "index"}, class: "btn"%> 
  </div>

  </div>
  <div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Изменение статуса</h4>
        </div>
        <div class="modal-body">
            <%= form_tag(change_status_path(@requistion), :html => {:class => "form-vertical"}) do |f| %>
              <div class="form-group">
            <!-- "[['Новая', 'fresh'], ['Назначена', 'assigned'], ['Принята в работу', 'adopted_in_work'], ['Выполняется', 'running'], ['Исполнено', 'done'], ['Завершено', 'comleted']] -->
      <%= select_tag :status, "<option value = fresh>Новая</option><option value=assigned>Назначена</option><option value = adopted_in_work >Принята в работу</option><option value = running>Выполняется</option><option value=done>Исполнено</option><option value = comleted >Завершена</option><option value = canceled >Отменена</option>", :prompt => "Выберите из списка", :class =>  "form-control", required: "" %>          </div>
          <button type="submit" class="btn btn-success">Изменить</button>
        <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Назад к заявкам", {controller: "users", action: "reqclient", id: current_user.id}, class: "btn" if current_user.client? %>
<%= link_to "Назад к заявкам", {controller: "users", action: "req", id: current_user.id}, class: "btn" if current_user.worker? %>
<% if current_user.client? and @requistion.status == 'comleted'%>
<button class="btn btn-danger mark" data-toggle="modal" data-target="#myModal" >Оценить</button>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Ваша Оценка</h4>
        </div>
        <div class="modal-body">
            <%= form_tag(mark_path(@requistion), :html => {:class => "form-vertical"}) do |f| %>
              <div class="form-group">
            <label   >Пожалуйста оцените по десятибальной шкале.</label>
            <input id="mark" name="mark" required >
          </div>
          <button type="submit" class="btn btn-success">Оценить</button>
        <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
jQuery(document).ready(function () {

$('#mark').rating({'showCaption':true, 
  "starCaptions": {
    1: "1 балл", 
    2: "2 балла", 
    3: "3 балла",
    4: "4 балла",
    5: "5 баллов",
    6: "6 баллов",
    7: "7 баллов",
    8: "8 баллов",
    9: "9 баллов",
    10: "10 баллов"},
  "starCaptionClasses": {
    1: "text-danger",
    2: "text-danger",
    3: "text-warning",
    4: "text-warning",
    5: "text-info",
    6: "text-info",
    7: "text-primary",
    8: "text-primary",
    9: "text-success",
    10: "text-success"},
  "clearCaption" : "Нет оценки",
  "clearButtonTitle":"Очистить",
  'stars':'10', 'min':'0', 'max':'10', 'step':'1', 'size':'xs', 
  });
});
</script>
<% end %>

</div>
</div>

