<% provide(:title, 'Создание нового пользователя') %>
<div class="container">
<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-4">
		<h1>Добавление администратора</h1>
		
		<%= render 'shared/error_messages' %>

		<%= form_for(@user, :url => "admin_create", :html => {:class => "form-vertical center"}) do |f| %>

		<div class="form-group">
			<label>Имя</label>
			<%= f.text_field :name ,  class: "form-control", required: "" %>
		</div>

		<div class="form-group">
			<label>Почта</label>
			<%= f.text_field :email , class: "form-control", required: "" %>
		</div>

		<div class="form-group">
			<label>Сотовый телефон</label>
			<%= f.text_field :phone, class: "form-control phonemask", required: "" %>
		</div>

		<div class="form-group">
			<label>Пароль</label>
			<%= f.password_field :password, class: "form-control", required: "", minlength:"6" %>
		</div>

		<div class="form-group">
			<label>Подтверждение пароля</label>
			<%= f.password_field :password_confirmation, class: "form-control", required: "", minlength:"6" %>
		</div>

		<div class="form-group">
			<label>Тип пользователя</label><br>

				<input type="radio" name="status" value="admin" required  />Диспетчер<br />
				<input type="radio" name="status" value="client" required />Клиент<br />
				<input type="radio" name="status" value="worker" required />Исполнитель<br />
			</div>

		<br>
			<%= f.submit "Создать", class: "btn" %>
		<br>
		<% end %>
	</div>
	<div class="col-md-4">
	</div>
</div>