<% provide(:title, "Мои контракты") %>
<div class="container">
<div class="row">
					<div class = "col-md-2">
					</div>
				<div class="col-md-8">
					<h3>Контракты (<%= @user.contracts.count %>)</h3>
					<table id = 'contracts_clinet' class="table table-bordered table-striped">
						<thead>
						<tr>
							<th><%= "Контракт" %></th>
							<th><%= "Название"	 %></th>
							<th><%= "Адреса" %></th>
							<th><%= "Описание" %></th>
							<th><%= "Дата начала" %></th>
							<th><%= "Дата окончания" %></th>

						</tr>
						</thead>
						<tbody>
						<% for contract in @user.contracts %>
							<tr>
								<td> <%= contract.name_contract %> </td>
								<td> <%= contract.company %> </td>
								<td> <% contract.buildings.each do |p| %> <%= p.arrival_address %> <br>  <% end %> </td>
								<td> <%= contract.description %> </td>
								<td> <%= contract.begin_time.strftime("%d.%m.%Y") %> </td>
								<td> <%= contract.end_time.strftime("%d.%m.%Y") %> </td>
							</tr>
						<% end %>
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>