<% provide(:title, "Редактирование пользователя") %>

<div class="container">
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<h1>Изменение профиля</h1>
		<%= render 'shared/error_messages' %>

		<%= form_for(@user, :html => {:class => "form-vertical center"}) do |f| %>
		
		<div class="form-group">
			<label>Имя</label>
			<%= f.text_field :name, class: "form-control", required: "" %>
		</div>
		<% if @user.worker? %>
			<div class="form-group">
				<label>Округ</label>
				<%= f.text_field :region , class: "form-control" %>
			</div>

			<div class="form-group">
				<label>Специализация</label>
				<%= f.text_field :specialization , class: "form-control" %>
			</div>

			<div class="form-group">
				<label>Начальник участка</label>
				<%= f.collection_select :boss_id, Boss.all, :id, :name, {:class => 'prevent_collapse'} %>
			</div>

		<% end %>
		<div class="form-group">
			<label>Почта</label>
			<%= f.text_field :email, class: "form-control", required: "" %>
		</div>

		<div class="form-group">
			<label>Телефон</label>
			<%= f.text_field :phone, class: "form-control phonemask"%>
		</div>


		<br>
		<%= f.submit "Сохранить", class: "btn" %>
		<% end %>
		


		<br>
	</div>
	</div>
</div>