<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<% if signed_in? %>
				<% if current_user.admin? %>
				<span style="color:red" href="#">Администратор</span>
				<% elsif current_user.client? %>
				<span style="color:red" href="#">Клиент</span>
				<% else #worker%>
				<span style="color:red" href="#">Рабочий</span>
				<% end %>
			<% else %>
			<span style="color:red" href="#">Неавторизированный пользователь</span>
			<% end %>
			<br>
				<% if @user.contracts.any? %>
				<div class="row">
				<div class="col-md-7">
					<h3>Ваши контракты (<%= @user.contracts.count %>)</h3>
					<table class="table table-bordered table-striped">
						<tr>
							<th><%= "Контракт" %></th>
							<th><%= "Название" %></th>
							<th><%= "Адреса" %></th>
							<th><%= "Описание" %></th>
							<th><%= "Заключен" %></th>
						</tr>
						<% for contract in @user.contracts %>
							<tr>
								<td> <%= contract.name_contract %> </td>
								<td> <% contract.buildings.each do |p| %> <%= Main_address.find(p.main_address_id).name %> <br>  <% end %> </td>
								<td> <% contract.buildings.each do |p| %> <%= p.arrival_address %> <br>  <% end %> </td>
								<td> <%= contract.description %> </td>
								<td> <%= Russian::strftime(contract.date_of_signing, "%e %B %Y") %> </td>
							</tr>
						<% end %>
					</table>
				</div>
				</div>
				<% end %>
			<br>
				<% if @user.pairs.any? %>
				<div class="row">
				<div class="col-md-7">
				<h3>Ваши заявки (<%= @user.pairs.count %>)</h3>

				<table class="table table-bordered table-striped">
					<tr>
						<th><%= "Объект" %></th>
						<th><%= "Адрес вызова" %></th>
						<th><%= "Тип вызова" %></th>						
						<th><%= "Статус" %></th>
						<th><%= "Время подачи заявки" %></th>  
					</tr>
					<% for pair in @user.pairs %>
						<tr>
							<%= render pair.requistion %>
						</tr>
					<% end %>
				</table>
			</div>
			</div>
			<% end %>

			<%= link_to "Редактировать профиль", edit_user_path(current_user), class: "btn btn-large btn-primary"%>
		</section>
	</aside>


