<% provide(:title, @user.name) %>
<div class="container">
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.name %>
			</h1>
			
			<% if @user.admin? %>
				<span style="color:red" href="#">Администратор</span>
			<% elsif @user.client? %>
				<span style="color:red" href="#">Клиент</span>
			<% else #worker%>
				<span style="color:red" href="#">Рабочий</span>
			<% end %>
			<br>
			<% if @user.client? && @user.contracts.any? %>
				<div class="row">
				<div class="col-md-7">
					<h3>Ваши контракты (<%= @user.contracts.count %>)</h3>
					<table class="table table-bordered table-striped">
						<tr>
							<th><%= "Контракт" %></th>
							<th><%= "Название" %></th>
							<th><%= "Адреса" %></th>
							<th><%= "Описание" %></th>
							<th><%= "Заключен" %></th>
						</tr>
						<% for contract in @user.contracts %>
							<tr>
								<td> <%= contract.name_contract %> </td>
								<td> <%= contract.company %> </td>
								<td> <% contract.buildings.each do |p| %> <%= p.arrival_address %> <br>  <% end %> </td>
								<td> <%= contract.description %> </td>
								<td> C <%=Russian::strftime(contract.begin_time, "%e %B %Y") %> до  <%= Russian::strftime(contract.end_time, "%e %B %Y") %> </td>
							</tr>
						<% end %>
					</table>
				</div>
				</div>
			<% end %>
			<br>
			<% if @user.pairs.any? %>
				<div class="row">
				<div class="col-md-7">
					<h3>Ваши заявки (<%= @user.pairs.count %>)</h3>

					<table class="table table-bordered table-striped">
						<tr>
							<th><%= "Объект" %></th>
							<th><%= "Адрес вызова" %></th>
							<th><%= "Тип вызова" %></th>						
							<th><%= "Статус" %></th>
							<th><%= "Время подачи заявки" %></th>  
						</tr>
						<% for pair in @user.pairs %>
							<tr>
								<%= render pair.requistion %>
							</tr>
						<% end %>
					</table>
				</div>
				</div>
			<% end %>
		</section>
	</aside>

</div>

