<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if signed_in? %>
        <% if current_user.admin? %>
        <span style="color:red" href="#">Администратор</span>
        <% elsif current_user.client? %>
        <span style="color:red" href="#">Клиент</span>
        <% else #worker%>
        <span style="color:red" href="#">Рабочий</span>
        <% end %>
      <% else %>
      <span style="color:red" href="#">Неавторизированный пользователь</span>
      <% end %>
      <br>
      <%= link_to "Редактировать профиль", edit_user_path(current_user), class: "btn btn-large btn-primary"%>
    </section>
  </aside>

<% if @user.contracts.any? %>
<h3>Ваши контракты (<%= @user.contracts.count %>)</h3>
<table class="pretty">
  <tr>
    <th><%= "№Контракта" %></th>
    <th><%= "Название компании" %></th>
    <th><%= "Период договора" %></th>
  </tr>
  <% for contract in @user.contracts %>
    <tr>
      <td> <%= contract.contract_id %> </td>
      <td> <%= contract.company %> </td>
      <td> <%= contract.period_contract %> </td>
    </tr>
  <% end %>
</table>
<% end %>

<% if @user.pairs.any? %>
<h3>Ваши заявки (<%= @user.pairs.count %>)</h3>

<table class="pretty">
  <tr>
    <th><%= "Объект" %></th>
    <th><%= "Адрес вызова" %></th>
    <th><%= "Время подачи заявки" %></th>
    <th><%= "Статус" %></th>    
  </tr>
  <% for pair in @user.pairs %>
    <tr>
      <%= render pair.requistion %>
    </tr>
  <% end %>
</table>
<% end %>