<% provide(:title, "Исполнители") %>
<div class="container">	
	<h1>Сотрудники</h1>
	<div class="row">
		<div class = 'col-xs-1'>
		</div>
	<div class="col-xs-9">

	<table id ="tablework" class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Имя</th>
				<th>Специализация</th>
				<th>Округ</th>
				<th>Посещения за месяц</th>
				<th>Начальник</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each_with_index do |user, index| %>
			<tr>
				<td>
					<%= link_to user.name, user_path(user) %>
					<% div_id = "calendarBut-#{user.id}" -%>
				</td>
				<td>
					<%= user.specialization %>
				</td>
				<td>
					<%= user.region %>
				</td>
				<td>
					<%= countOfEntries(user) %>
					<button id="<%= div_id -%>" type="button" class="btn btn-default btn-xs calendarButton pull-right">
						<span class="glyphicon glyphicon-calendar"></span>
					</button>

					<% div_id = "calendar-#{user.id}" -%>


					<div id="<%= div_id -%>" style="display:none" class="calendar">
						<% @arrivals = user.arrivals %>
						<%= calendar_for @arrivals, :first_day_of_week => 1 do |t| %>
							<%= t.head('Пон', 'Вт', 'Ср', 'Чет', 'Пят', 'Суб', 'Воск') %>
								<%= t.day do |day, arrivals| %>
									<%= day.day %>
								<% end %>
						<% end %>
					</div>
				</td>
				<td>
					<% if user.boss %>
						<%= user.boss.name %>
						<%= user.boss.phone %>
					<% else %>
						Не назначен
					<% end %>
				</td>
				<td>

					<div class = "pull-right">
					<%= link_to 'Заявки сотрудника', controller: :requistions, action: :index, position: 12, value: user.id%>

						<%= link_to user_path(user) do%>
							<span class="glyphicon glyphicon-pencil" title="редактировать"></span>
						<% end %>
						<%= link_to user, method: :delete, data: { confirm: "Вы уверены, что хотите удалить?" } do%>
							<span class="glyphicon glyphicon-trash" title="удалить"></span>
						<% end %>
					&nbsp
					</div>
				</td>
			</tr>
			<% end %>  


		</tbody>
</table>
</div>
</div>