<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<% provide(:title, 'Объект') %>
<div class="container">
<h2>Информация об объкте</h2>
<div class="row">
<div class="col-md-7">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Объект</th>

      <th><%= @building.contracts.first.company if not @building.contracts.nil? %></th>
    </tr>
    <tr>
      <td>Адрес</td>
      <td><%= best_in_place @building, :arrival_address, :as => :input %></td>
    </tr>
    <% if current_user.admin? %>
    <tr>
      <td>Ссылка для входа</td>
      <td><%= "onlinesys.herokuapp.com/buildings/#{@building.id}/check_in" %></td>
    </tr>
    <tr>
      <td>Ссылка для выхода</td>
      <td><%= "onlinesys.herokuapp.com/buildings/#{@building.id}/check_out" %></td>
    </tr>
    <% end %>
  </table>
</div>
</div>

  <h2>Контракты</h2>
<table class="table table-striped">
  <tr>
    <th>Контракт</th>
    <th>Компания</th>
    <th>Описание</th>
  </tr>
  <% for contract in @building.contracts %>
    <tr>
      <td> <%=link_to contract.name_contract,  {:controller => :contracts, :action => :show, :id => contract.id}, {:method => :get} %> </td>
      <td> <%= contract.company %> </td>
      <td> <%= contract.description %> </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
ymaps.ready(init);
function init() {
    var myMap = new ymaps.Map('map', {
        center: [55.753994, 37.622093],
        zoom: 9
    });

    // Поиск координат.
    ymaps.geocode('Москва <%= @building.arrival_address %>', {
      results: 1 // Если нужен только один результат, экономим трафик пользователей
    }).then(function (res) {
            // Выбираем первый результат геокодирования.
            var firstGeoObject = res.geoObjects.get(0),
                // Координаты геообъекта.
                coords = firstGeoObject.geometry.getCoordinates(),
                // Область видимости геообъекта.
                bounds = firstGeoObject.properties.get('boundedBy');

            // Добавляем первый найденный геообъект на карту.
            myMap.geoObjects.add(firstGeoObject);
            // Масштабируем карту на область видимости геообъекта.
            myMap.setBounds(bounds, {
                checkZoomRange: true // проверяем наличие тайлов на данном масштабе.
            });
        });
}
</script>
<div id="map" style="width: 600px; height: 400px"></div>

<% if @list_requistion.any? %>
<h3 class="leftH">На объекте (<%= @list_requistion.count %>) заявки:</h3>
<table class="table table-striped">
  <tr>
    <th>Время подачи заявки</th>
    <th>Контактный телефон</th>
    <th>Контактное лицо</th>
    <th>Тип неисправности</th>
    <th>Категория</th>
    <th>Дополнительная информация</th>
    <th>Коммент</th>
  </tr>
  <% for requistion in @list_requistion %>
    <tr>
      <td> <%= link_to Russian::strftime(requistion.created_at, '%e %B %Y %H:%M'), {:controller => :requistions, :action => :show, :id => requistion.id}, {:method => :get} %>
      <td> <%= requistion.contact_phone %> </td>
      <td> <%= requistion.contact_name %> </td>
      <td> <%= transcript_of_the_messages(requistion.type_requistion)+' '+transcript_of_the_messages(requistion.subtype_requistions) %> </td>
      <td> <%= transcript_of_the_messages_category(requistion.category) %> </td>
      <td> <%= requistion.info %> </td>
      <td> <%= requistion.requistion_comment %> </td>
    </tr>
  <% end %>
</table>
<% else %>
<h4>Для вас на объект заявок нет</h4>
<% end %> 

<%= link_to 'Назад', :back, class: "btn btn-large btn-primary" %>
