<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<% provide(:title, 'Объект') %>
<div class="container">
<h2>Информация об объкте</h2>
<div class="row">
<div class="col-md-7">
  <table class="table table-bordered table-striped">
    <tr>
      <th>Объект</th>
      <th><%= @building.name %></th>
    </tr>
    <tr>
      <td>Адрес</td>
      <td><%= @building.arrival_address %></td>
    </tr>
  </table>
</div>
</div>



<script type="text/javascript">
ymaps.ready(init);
function init() {
    var myMap = new ymaps.Map('map', {
        center: [55.753994, 37.622093],
        zoom: 9
    });

    // Поиск координат.
    ymaps.geocode('Москва <%= @building.arrival_address %>', {
      results: 1 // Если нужен только один результат, экономим трафик пользователей
    }).then(function (res) {
            // Выбираем первый результат геокодирования.
            var firstGeoObject = res.geoObjects.get(0),
                // Координаты геообъекта.
                coords = firstGeoObject.geometry.getCoordinates(),
                // Область видимости геообъекта.
                bounds = firstGeoObject.properties.get('boundedBy');

            // Добавляем первый найденный геообъект на карту.
            myMap.geoObjects.add(firstGeoObject);
            // Масштабируем карту на область видимости геообъекта.
            myMap.setBounds(bounds, {
                checkZoomRange: true // проверяем наличие тайлов на данном масштабе.
            });
        });
}
</script>
<div id="map" style="width: 600px; height: 400px"></div>

<% if @list_requistion.any? %>
<h3 class="leftH">На объекте (<%= @list_requistion.count %>) заявки:</h3>
<table class="table table-striped">
  <tr>
    <th><%= "Время подачи заявки" %></th>
    <th><%= "Контактный телефон" %></th>
    <th><%= "Контактное лицо" %></th>
    <th><%= "Тип неисправности" %></th>
    <th><%= "Категория" %></th>
    <th><%= "Дополнительная информация" %></th>
  </tr>
  <% for requistion in @list_requistion %>
    <tr>
      <td> <%= Russian::strftime(requistion.created_at, "%e %B %Y %H:%M") %> </td>
      <td> <%= requistion.contact_phone %> </td>
      <td> <%= requistion.contact_name %> </td>
      <td> <%= requistion.type_requistion %> </td>
      <td> <%= requistion.category %> </td>
      <td> <%= requistion.info %> </td>
    </tr>
  <% end %>
</table>
<% else %>
<h4>Для вас на объект заявок нет</h4>
<% end %> 

<!-- <div class="row">
<div class="form-group">
      <label class="col-md-4 control-label">Объект</label>
      <div class="col-md-8">
        <label class="col-md-4 control-label"><%#= @building.name %></label>
      </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
      <label class="col-md-4 control-label">Главный адрес</label>
      <div class="col-md-8">
        <label class="col-md-4 control-label"><%#= @building.main_address %></label>
      </div>
    </div>
  </div> -->