<% provide(:title, 'Объект') %>
<div class="container">
<h2>Информация об объкте</h2>
<div class="row">
<div class="col-md-7">
  <table class="table table-bordered">
    <tr>
      <th>Объект</th>
      <th><%= @building.name %></th>
    </tr>
    <tr>
      <td>Адрес</td>
      <td><%= @building.arrival_address %></td>
    </tr>
  </table>
</div>
</div>


<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
        ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map('map', {
        center: [55.753994, 37.622093],
        zoom: 9
    });

    // Поиск координат центра Нижнего Новгорода.
    ymaps.geocode('Москва <%= @building.arrival_address %>', {
        /**
         * Опции запроса
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/geocode.xml
         */
        // boundedBy: myMap.getBounds(), // Сортировка результатов от центра окна карты
        // strictBounds: true, // Вместе с опцией boundedBy будет искать строго внутри области, указанной в boundedBy
        results: 1 // Если нужен только один результат, экономим трафик пользователей
    }).then(function (res) {
            // Выбираем первый результат геокодирования.
            var firstGeoObject = res.geoObjects.get(0),
                // Координаты геообъекта.
                coords = firstGeoObject.geometry.getCoordinates(),
                // Область видимости геообъекта.
                bounds = firstGeoObject.properties.get('boundedBy');

            // Добавляем первый найденный геообъект на карту.
            myMap.geoObjects.add(firstGeoObject);
            // Масштабируем карту на область видимости геообъекта.
            myMap.setBounds(bounds, {
                checkZoomRange: true // проверяем наличие тайлов на данном масштабе.
            });

            /**
             * Все данные в виде javascript-объекта.
             */
            console.log('Все данные геообъекта: ', firstGeoObject.properties.getAll());
            /**
             * Метаданные запроса и ответа геокодера.
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/GeocoderResponseMetaData.xml
             */
            console.log('Метаданные ответа геокодера: ', res.metaData);
            /**
             * Метаданные геокодера, возвращаемые для найденного объекта.
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/GeocoderMetaData.xml
             */
            console.log('Метаданные геокодера: ', firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData'));
            /**
             * Точность ответа (precision) возвращается только для домов.
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/precision.xml
             */
            console.log('precision', firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData.precision'));
            /**
             * Тип найденного объекта (kind).
             * @see https://api.yandex.ru/maps/doc/geocoder/desc/reference/kind.xml
             */
            console.log('Тип геообъекта: %s', firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData.kind'));
            console.log('Название объекта: %s', firstGeoObject.properties.get('name'));
            console.log('Описание объекта: %s', firstGeoObject.properties.get('description'));
            console.log('Полное описание объекта: %s', firstGeoObject.properties.get('text'));

            /**
             * Если нужно добавить по найденным геокодером координатам метку со своими стилями и контентом балуна, создаем новую метку по координатам найденной и добавляем ее на карту вместо найденной.
             */
            /**
             var myPlacemark = new ymaps.Placemark(coords, {
             iconContent: 'моя метка',
             balloonContent: 'Содержимое балуна <strong>моей метки</strong>'
             }, {
             preset: 'islands#violetStretchyIcon'
             });

             myMap.geoObjects.add(myPlacemark);
             */
        });
}
</script>
<div id="map" style="width: 600px; height: 400px"></div>

<% if @list_requistion.any? %>
<h3>На объект подано заявок (<%= @list_requistion.count %>)</h3>
<table class="pretty">
  <tr>
    <th><%= "Время подачи заявки" %></th>
    <th><%= "Контактный телефон" %></th>
    <th><%= "Контактное лицо" %></th>
    <th><%= "Тип неисправности" %></th>
    <th><%= "Категория" %></th>
    <th><%= "Дополнительная информация" %></th>
  </tr>
  <% for requistion in @list_requistion %>
    <tr>
      <td> <%= Russian::strftime(requistion.created_at, "%e %B %Y %H:%M") %> </td>
      <td> <%= requistion.contact_phone %> </td>
      <td> <%= requistion.contact_name %> </td>
      <td> <%= requistion.type_requistion %> </td>
      <td> <%= requistion.category %> </td>
      <td> <%= requistion.info %> </td>
    </tr>
  <% end %>
</table>
<% else %>
<h4>Для вас на объект заявок нет</h4>
<% end %> 

<%= link_to "Прибыл", {:action => 'check_in'}, {:class => "btn btn-large btn-primary"} %>
<%= link_to "Отбыл", {:action => 'check_out'}, {:class => "btn btn-large btn-primary"} %>
<br>

<!-- <div class="row">
<div class="form-group">
      <label class="col-md-4 control-label">Объект</label>
      <div class="col-md-8">
        <label class="col-md-4 control-label"><%#= @building.name %></label>
      </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
      <label class="col-md-4 control-label">Главный адрес</label>
      <div class="col-md-8">
        <label class="col-md-4 control-label"><%#= @building.main_address %></label>
      </div>
    </div>
  </div> -->