<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<% provide(:title, 'Объект') %>
<div class="container">
  <h2>Информация об объкте</h2>
  <div class="row">
  <div class="col-md-7">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Объект</th>

        <th><%= @building.name %></th>
      </tr>
      <tr>
        <td>Адрес</td>
        <td><%= best_in_place @building, :arrival_address, :as => :input %></td>
      </tr>
      <% if current_user.admin? %>
      <tr>
        <td>Ссылка для выхода/входа</td>
        <td><%= "onlinesys.herokuapp.com" + check_building_path %></td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>

  <% if @building.contracts.presence %>
    <h2>Контракты</h2>
    <div class="row">
      <div class="col-md-7">
      <table class="table table-striped">
        <tr>
          <th>Контракт</th>
          <th>Описание</th>
        </tr>
        <% for c in @building.contracts %>
          <tr>
            <td> <%= link_to c.name_contract, contract_path(c) %> </td>
            <td> <%= c.description %> </td>
          </tr>
        <% end %>
      </table>
      </div>
    </div>
  <% else %>
    <h2>Контрактов нет</h2>
  <% end %>

<script type="text/javascript">
  ymaps.ready(init);
  function init() {
      var myMap = new ymaps.Map('map', {
          center: [55.753994, 37.622093],
          zoom: 9
      });

      // Поиск координат.
      ymaps.geocode('Москва <%= @building.arrival_address %>', {
        results: 1 // Если нужен только один результат, экономим трафик пользователей
      }).then(function (res) {
              // Выбираем первый результат геокодирования.
              var firstGeoObject = res.geoObjects.get(0),
                  // Координаты геообъекта.
                  coords = firstGeoObject.geometry.getCoordinates(),
                  // Область видимости геообъекта.
                  bounds = firstGeoObject.properties.get('boundedBy');

              // Добавляем первый найденный геообъект на карту.
              myMap.geoObjects.add(firstGeoObject);
              // Масштабируем карту на область видимости геообъекта.
              myMap.setBounds(bounds, {
                  checkZoomRange: true // проверяем наличие тайлов на данном масштабе.
              });
          });
  }
</script>
<div id="map" style="height: 400px"></div>

<% if @list_requistion.any? %>
<h3 class="leftH">На объекте (<%= @list_requistion.count %>) заявки:</h3>
<table class="table table-striped">
  <tr>
    <th>Время подачи заявки</th>
    <th>Тип неисправности</th>
    <th>Категория</th>
    <th>Дополнительная информация</th>
    <th>Коммент</th>
  </tr>
  <% @list_requistion.each do |r| %>
    <tr>
      <td> <%= link_to r.created_at_time_ru, requistion_path(r) %>
      <td> <%= transcript_of_the_messages(r.type_requistion)+' '+transcript_of_the_messages(r.subtype_requistions) %> </td>
      <td> <%= transcript_of_the_messages_category(r.category) %> </td>
      <td> <%= r.info %> </td>
      <td> <%= r.requistion_comment %> </td>
    </tr>
  <% end %>
</table>
<% else %>
  <h4>Для вас на объект заявок нет</h4>
<% end %>

<%= link_to 'Редактировать', edit_building_path(@building), class: "btn" %>
<%= link_to 'Все заявки', requistions_path, class: "btn" %>
<a href="javascript:history.back()" class="btn" onMouseOver="window.status='Назад';return true">Назад</a>
</div>
