<% provide(:title, 'Добавление начальника') %>
<div class="container">
<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<h1>Новый начальник</h1>

		<%= form_for(@boss, :html => {:class => "form-vertical center"}) do |f| %>

		<div class="form-group">
			<label>Фамилия Имя</label>
			<%= f.text_field :name ,  class: "form-control", required: "" %>
		</div>

		<div class="form-group">
			<label>Сотовый телефон</label>
			<%= f.text_field :phone, class: "form-control phonemask" %>
		</div>
		<div class="form-group">
			<label>Район</label>
			<%= f.text_field :region, class: "form-control" %>
		</div>
		<div class="form-group">
			<label>Специализация</label>
			<%= f.text_field :specialization, class: "form-control" %>
		</div>

		<div class="form-group">
			<label>Начало отпуска</label>
			<%= date_field_tag "boss[begin_of_rest]", nil, class: "form-control" %>
		</div>
		<div class="form-group">
			<label>Конец отпуска</label>
			<%= date_field_tag "boss[end_of_rest]", nil, class: "form-control" %>
		</div>

		<br>
			<%= f.submit "Создать начальника", class: "btn" %>
		<% end %>
	</div>
</div>
