<nav class="navbar navbar-default">
	<div class="container-fluid">
		
			<a href="/" class="navbar-brand" >
			<span><%=image_tag("LogoNew.png", size: "36x50", class: "logo", alt: "ЗВ")%></span>
			&nbspЗаявки онлайн</a>

		<% if signed_in? %>
			<% if current_user.admin? %>
<script>
$(document).ready(function(){
	$('#count').load("/count");
	setInterval(function(){
    $('#count').load("/count");
      }, 5000);
});
</script>
	

			<li class = "pull-right">
				<%= link_to signout_path, method: "delete" do %>
				<span class="glyphicon glyphicon-log-out"></span>&nbspВыйти
				<% end %>
			</li>
			<li class = "pull-right">
				<%= link_to user_path(current_user) do %>
				<span class="glyphicon glyphicon-user"></span>&nbspМой профиль
				<% end %>
			</li>
			
<!-- 			<li class = "pull-right">
				<%#= link_to panel_path do %>
				<span class="glyphicon glyphicon-wrench"></span>&nbspПанель управления
				<%# end %>
			</li> -->

						
					<li class = "pull-right" role="presentation"><a href="<%= new_requistions_path %>">Новые заявки <span id="count" class="badge"></span></a></li>


					<li class = "pull-right">
						<div class="dropdown manpanel">
						 	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						    	Панель управления
						    	<span class="caret"></span>
						  	</button>
						  	<ul class="dropdown-menu ddmenu" role="menu" aria-labelledby="dropdownMenu1">
						    	<li role="presentation">
						    		<%= link_to bosses_path, class:"" do %>
										<span class="glyphicon glyphicon-list"></span>&nbsp Начальники
									<% end %>
						    	</li>
						    	<li role="presentation">
						    		<%= link_to requistions_path, class:"" do %>
										<span  class="glyphicon glyphicon-list"></span>&nbsp Все заявки
									<% end %>
						    	</li>
						    	<li role="presentation">
						    		<%= link_to arrivals_path, class:"" do %>
										<span  class="glyphicon glyphicon-list"></span>&nbsp Все посещения
									<% end %>
						    	</li>
						    	<li role="presentation">
						    		<%= link_to users_path, class:"" do %>
										<span class="glyphicon glyphicon-list"></span>&nbsp Клиенты
									<% end %>
						    	</li>
						    	<li role="presentation">
						    		<%= link_to workers_path, class:"" do %>
										<span class="glyphicon glyphicon-list"></span>&nbsp Рабочие
									<% end %>
						    	</li>
						    	<li role="presentation">

							    	<%= link_to contracts_path, class:"" do %>
										<span class="glyphicon glyphicon-list"></span>&nbsp Контракты
									<% end %>
								</li>
								<li role="presentation">
									<%= link_to buildings_path, class:"" do %>
										<span class="glyphicon glyphicon-list"></span>&nbsp Все объекты
									<% end %>
								</li>



								<li role="presentation">
						    		<a href="/admin_new"><span class="glyphicon glyphicon-pencil"></span>&nbsp Создать нового администратора</a>
						    	</li>
						    	<li role="presentation">
						    		<a href="/admin_new"><span class="glyphicon glyphicon-pencil"></span>&nbsp Создать нового рабочего(неактивно)</a>
						    	</li>
						    	<li role="presentation">
						    		<a href="/admin_new"><span class="glyphicon glyphicon-pencil"></span>&nbsp Создать нового клиента(неактивно)</a>
						    	</li>
						    	<li role="presentation">
						    		<a href="/bosses/new"><span class="glyphicon glyphicon-pencil"></span>&nbsp Создать нового начальника</a>
						    	</li>
						    	<li role="presentation">
						    		<a href="/buildings/new"><span class="glyphicon glyphicon-pencil"></span>&nbsp Новый объект</a>
						    	</li>

						  	</ul>
						</div>
					</li>


					<li class="pull-left"><a href="/new"><span class="glyphicon glyphicon-envelope">
					</span>&nbsp Новая заявка</a></li>

			<% elsif current_user.client? %>
			
					<li class="pull-left"><a href="/new"><span class="glyphicon glyphicon-envelope">
					</span>&nbsp Подать заявку</a></li>

					<li class = "pull-right">
						<%= link_to signout_path, method: "delete" do %>
						<span class="glyphicon glyphicon-log-out"></span>&nbspВыйти
						<% end %>
					</li>


					<li class = "pull-right">
						<%= link_to user_path(current_user) do %>
						<span class="glyphicon glyphicon-user"></span>&nbspМой профиль
						<% end %>
					</li>

					<li class = "pull-right">
						<%= link_to controller: "users", action: "contract", id: current_user do %>
							<span class="glyphicon glyphicon-briefcase"></span>&nbspКонтракты
						<% end %>
					</li>


					<li class = "pull-right">
						<%= link_to controller: "users", action: "reqclient", id: current_user do %>
							<span class="glyphicon glyphicon-export"></span>&nbspЗаявки
						<% end %>
					</li>
					
				
			<% else #worker%>
						<li class = "pull-right">
							<%= link_to signout_path, method: "delete" do %>
							<span class="glyphicon glyphicon-log-out"></span>&nbspВыйти
							<% end %>
						</li>
						<li class = "pull-right">
							<%= link_to user_path(current_user) do %>
							<span class="glyphicon glyphicon-user"></span>&nbspМой профиль
							<% end %>
						</li>
						<li class = "pull-right">
							<%= link_to controller: "users", action: "req", id: current_user do %>
							<span class="glyphicon glyphicon-briefcase"></span>&nbspЗаявки
							<% end %>
						</li>
			<% end %>	
		<% else %>
			<li class = "pull-right"><a href="/signup"><span class="glyphicon glyphicon-user"></span>&nbsp Зарегистрироваться</a></li>
			<li class = "pull-right"><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span>&nbsp Войти</a></li>
		<% end %>
	</div>	
</nav>
